body,
html {
  display: flex;
  align-items: center;
  height: 100%;
  width: 100%;
  margin: 0;
  /* background-color: black; */
  background-image: url("https://pixeljoint.com/files/icons/full/ezimba12821714477700.gif");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.score, .life {
  color: white;
}

.template {
  position: fixed;
}

.cat {
  transform: rotate(90deg);
  width: 50px;
  height: 90px;
}

.catLaser {
  width: 20px;
  height: 20px;
}

.monster {
  width: 80px;
  height: 80px;
}