body,
html {
  display: flex;
  /* align-items: center; */
  justify-content: center;
  height: 100%;
  width: 100%;
  margin: 0;
  /* background-color: black; */
  /* background-image: url("https://pixeljoint.com/files/icons/full/ezimba12821714477700.gif");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat; */
}

.container {
  position: fixed;
  height: 100%;
  width: 100%;
  overflow: hidden;
  z-index: -1;
}

.gameModal {
  position: fixed;
  background: url("./img/5.png") repeat-y;
  height: 7680px;
  width: 100%;
  background-size: contain;
  animation: slide 10s linear infinite;
  z-index: -1;
}

@keyframes slide {
  0% {
    transform: translate(0, -3840px);
  }

  100% {
    transform: translate(0, 0);
  }
}

.score,
.life {
  z-index: 1;
  color: red;
}

.template {
  position: fixed;
}

.cat {
  transform: rotate(90deg);
  width: 100px;
  height: 100px;
  padding: 0px;
  margin: 0px;
  filter: drop-shadow(30px 0px 15px black);
  animation: smooth 1s;
}

.laser {
  width: 20px;
  height: 20px;
  padding: 0px;
  margin: 0px;
  filter: drop-shadow(0px 5px 5px black);
}

.boo {
  width: 40px;
  height: 40px;
  padding: 0px;
  margin: 0px;
  filter: drop-shadow(0px 10px 10px black);
  animation: smooth 1s;
}

.lakitu {
  width: 150px;
  height: 150px;
  padding: 0px;
  margin: 0px;
  filter: drop-shadow(0px 10px 10px black);
  animation: smooth 1s;
}

.boss {
  width: 500px;
  height: 500px;
  padding: 0px;
  margin: 0px;
  filter: drop-shadow(0px 10px 10px black);
  animation: smooth 1s;
}


@keyframes smooth {
  0% {
    transform: scale(0);
  }

  50% {
    transform: scale(1.3);
  }
}